.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.redBorder {
    border-color: red;
}

.orangeBorder {
    border-color: orange;
}

.greenBorder {
    border-color: green;
}
