<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>todo-app</title>-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="../static/style.css">&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="../static/script.js"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--ccc-->

<!--<tr th:each="user: ${users}">-->
<!--    <div th:if="${user.age > 17}">-->
<!--        <td th:text="${user.login}" />-->
<!--        <td th:text="${user.email}" />-->
<!--        <td th:text="${user.age}" />-->
<!--    </div>-->
<!--</tr>-->

<!--<tr th:each="user: ${users}">-->
<!--    <div th:if="${user.age > 17}">-->
<!--        <td th:text="${user.login}" />-->
<!--        <td th:text="${user.email}" />-->
<!--        <td th:text="${user.age}" />-->
<!--    </div>-->
<!--</tr>-->

<!--</body>-->
<!--</html>-->